NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/footballclub
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
VOTE_ENC_KEY=local-dev-vote-key
UPLOADTHING_TOKEN=
